{%load static%}

<!doctype html>

<html>
<head>
<meta charset="utf-8">
<title>Canvashtml</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
<style type="text/css">

body {
  margin-left: 300px;
  margin-top: 150px;
  background-color: #F1F3F4;
  background-image: url({%static 'images/parallax.jpg'%});
}
body,td,th {
  color: #46AFC9;
}
</style>
</head>
<!-- 0995115594 Alex Hindu -->
<body>
<div class="rr" id="aa">
  <div class="encabezado">
    <p><img src="{%static 'images/imagen.jpg'%}" class="img-fluid" alt="" usemap="#Map"/>  </p>
  </div>

  <p>
    <map name="Map">
      <area shape="poly" coords="319,121,320,249" href="#">
      <area data-toggle="modal" data-target="#exampleModal" shape="poly" coords="319,120,338,120,367,128,396,144,414,160,428,178,439,196,446,213,450,238,449,251,320,251">

      <area class="example-popover" shape="poly" data-toggle="modal" data-target="#exampleModal1" coords="321,255,449,255,449,272,446,286,441,299,436,312,430,325,423,332,415,343,408,349,401,356,390,364,378,372,364,378,354,381,340,384,322,385" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">

      <area shape="poly" data-toggle="modal" data-target="#exampleModal2" coords="315,257,185,257,185,274,188,285,192,299,196,311,207,328,220,345,232,356,248,367,260,374,273,379,286,383,301,386,316,385" >


      <area shape="poly" data-toggle="modal" data-target="#exampleModal3" coords="313,121,297,122,274,127,260,132,242,143,228,154,214,168,203,183,195,197,189,213,187,223,184,234,184,241,185,253,315,252">
      <area shape="poly" coords="314,122,257,134" href="#">


    </map>
  </p>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Planear</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="">
        {%csrf_token%}
          <div class="modal-body">
            <div class="form-group">
              <label for="p_que_se_hara">¿Qué se hará?</label>
              <input class="form-control" type="text" id="p_que_se_hara" placeholder="¿Qué se hará?" name="p_que_se_hara" {%if lista.p_que_se_hara %} value="{{lista.p_que_se_hara}}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="p_como">¿Cómo se hará?</label>
              <input class="form-control" type="text" id="p_como" placeholder="¿Cómo se hará?" name="p_como" {%if lista.p_como %} value="{{lista.p_como}}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="p_cuando">¿Cuándo se hará?</label>
              <input class="form-control" type="date" id="p_cuando" placeholder="¿Cuándo se hará?" name="p_cuando" {%if lista.p_cuando %} value="{{lista.p_cuando}}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="p_donde">¿Dónde se hará?</label>
              <input class="form-control" type="text" id="p_donde" placeholder="¿Dónde se hará?" name="p_donde" {%if lista.p_donde %} value="{{lista.p_donde}}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="p_quien">¿Quién hará?</label>
              <input class="form-control" type="text" id="p_quien" placeholder="¿Quién hará?" name="p_quien" {%if lista.p_quien %} value="{{lista.p_quien}}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="p_con_que">¿Con qué se hará?</label>
              <input class="form-control" type="text" id="p_con_que" placeholder="¿Con qué se hará?" name="p_con_que" {%if lista.p_con_que %} value="{{lista.p_con_que}}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="p_cuando">¿Para qué se hará?</label>
              <input class="form-control" type="text" id="p_para_que" placeholder="¿Para qué se hará?" name="p_para_que" {%if lista.p_para_que %} value="{{lista.p_para_que}}"{%endif%}>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" name="btn_planear">Guardar</button>
          </div>
        </form>
    </div>
  </div>
</div>
<!-- Modal 1-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hacer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="">
        {%csrf_token%}
          <div class="modal-body">
            <div class="form-group">
              <label for="h_ident_oportunidad">Identificar Oportunidades</label>
              <!-- <textarea id="editor"></textarea> -->
              <input class="form-control" type="text" id="h_ident_oportunidad" placeholder="Identificar Oportunidades" name="h_ident_oportunidad" {%if lista.h_ident_oportunidad %} value="{{lista.h_ident_oportunidad}}"{%endif%}>

            </div>
            <div class="form-group">
              <label for="h_desarrollo_plan">Desarrollo de un plan piloto</label>
              <input class="form-control" type="text" id="h_desarrollo_plan" placeholder="Desarrollo de un plan piloto" name="h_desarrollo_plan" {%if lista.h_desarrollo_plan %} value="{{lista.h_desarrollo_plan}}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="h_implementacion_procesos">Implementar procesos</label>
              <input class="form-control" type="text" id="h_implementacion_procesos" placeholder="Implementar procesos" name="h_implementacion_procesos" {%if lista.h_implementacion_procesos %} value="{{lista.h_implementacion_procesos }}"{%endif%}>
            </div>
            <div class="form-group">
              <label for="h_implementacion_mejoras">Implementar mejoras</label>
              <input class="form-control" type="text" id="h_implementacion_mejoras" placeholder="Implementar mejoras" name="h_implementacion_mejoras" {%if lista.h_implementacion_mejoras %} value="{{lista.h_implementacion_mejoras}}"{%endif%}>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" name="btn_hacer">Guardar</button>
          </div>
        </form>
    </div>
  </div>
</div>
<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Verificar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="">
        {%csrf_token%}
          <div class="modal-body">
              <div class="form-group">
                <label for="v_hizo_lo_planeado">¿Se hizo lo paneado?</label>
                <input class="form-control" type="radio" id="phva.v_hizo_lo_planeado" placeholder="¿Se hizo lo paneado?" name="v_hizo_lo_planeado" value="True" {%if lista.v_hizo_lo_planeado %} value="{{lista.v_hizo_lo_planeado}}"{%endif%}>
                <!-- <textarea id="editor"></textarea> -->

              </div>
              <div class="form-group">
                <label for="v_logro_resultados">¿Se lograron los resultados?</label>
                <input class="form-control" type="radio"  id="v_logro_resultados" placeholder="¿Se lograron los resultados?" name="v_logro_resultados" value="True" {%if lista.v_logro_resultados %} value="{{lista.v_logro_resultados}}"{%endif%}>
              </div>
              <div class="form-group">
                <label for="v_que_eficacia">¿Con qué eficacia y eficiencia?</label>
                <input class="form-control" type="text" id="v_que_eficacia" placeholder="¿Con qué eficacia y eficiencia?" name="v_que_eficacia" {%if lista.v_que_eficacia %} value="{{lista.v_que_eficacia}}"{%endif%}>
              </div>
              <div class="form-group">
                <label for="v_que_impacto">¿Qué impacto logramos en los cientes?</label>
                <input class="form-control" type="text" id="v_que_impacto" placeholder="¿Qué impacto logramos en los cientes?" name="v_que_impacto" {%if lista.v_que_impacto %} value="{{lista.v_que_impacto}}"{%endif%}>
              </div>
               <div class="form-group">
                <label for="v_que_explica_resultados">¿Qué explica los resultados y el impacto logrados?</label>
                <input class="form-control" type="text" id="v_que_explica_resultados" placeholder="¿Qué explica los resultados y el impacto logrados?" name="v_que_explica_resultados" {%if lista.v_que_expica_resultados %} value="{{lista.v_que_expica_resultados}}"{%endif%}>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" name="btn_verificar">Guardar</button>
          </div>
        </form>
    </div>
  </div>
</div>
<!-- Modal 3-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actuar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="">
        {%csrf_token%}
          <div class="modal-body">
            <div class="form-group">
                <label for="a_que_aprendimos">¿Qué aprendimos?</label>
                <input class="form-control" type="text" id="a_que_aprendimos" placeholder="¿Qué aprendimos?" name="a_que_aprendimos" {%if lista.a_que_aprendimos %} value="{{lista.a_que_aprendimos}}"{%endif%}>
              </div>
              <div class="form-group">
                <label for="a_que_errores">¿Qué errores no deberiamos repetir?</label>
                <input class="form-control" type="text" id="a_que_errores" placeholder="¿Qué errores no deberiamos repetir?" name="a_que_errores" {%if lista.a_que_errores %} value="{{lista.a_que_errores}}"{%endif%}>
              </div>
              <div class="form-group">
                <label for="a_que_aciertos">¿Qué aciertos deberíamos estandarizar?</label>
                <input class="form-control" type="text" id="a_que_aciertos" placeholder="¿Qué aciertos deberíamos estandarizar?" name="a_que_aciertos" {%if lista.a_que_aciertos %} value="{{lista.a_que_aciertos}}"{%endif%}>
              </div>
              <div class="form-group">
                <label for="a_como_cuando_aplicar">¿Cómo, cuándo y en donde aplicamos el conociemto adquirido?</label>
                <input class="form-control" type="text" id="a_como_cuando_aplicar" placeholder="¿Cómo, cuándo y en donde aplicamos el conociemto adquirido?" name="a_como_cuando_aplicar" {%if lista.a_como_cuando_aplicar %} value="{{lista.a_como_cuando_aplicar}}"{%endif%}>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" name="btn_actuar">Guardar</button>
          </div>
        </form>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(function () {
  $('.example-popover').popover({
    container: 'area'
  })
})
</script>
<script type="text/javascript">
                  CKEDITOR.replace('editor',{
                    height: 220
                  });
                </script>
</body>
</html>
